.list-container {
  width: 600px;
  height: 100%;
  background-color: #282828;
  display: flex;

  .list {
    overflow: scroll;
  }
  .list::-webkit-scrollbar {display:none}

  .music-list {
    width: 350px;
    height: 100%;
    margin-left: 25px;

    .header {
      height: 25px;
      margin-top: 28px;

      span {
        font-size: 18px;
        font-weight: bold;
        color: white;
      }
    }

    .list {
      height: 540px;
    }

    .item {
      height: 85px;
      width: 100%;
      .content {
        padding: 15px;
        display: flex;
      }

      .cover img {
        border-radius: 10px;
        width: 54px;
        height: 54px;
      }

      .info {
        margin-left: 14px;
        .title {
          padding-top: 4px;
          color: white;
          font-size: 16px;
          font-weight: bold;
        }
        .artist {
          padding-top: 2px;
          color: rgba(216, 216, 216, 0.5);
          font-size: 12px;
          font-weight: bold;
        }
      }
    }
  }
  .albumlist::-webkit-scrollbar {display:none}

  .albumlist {
    margin-right: 20px;
    margin-top: 20px;
    float: right;
    width: 200px;
    height: 560px;
    overflow: scroll;

    .item {
      margin-bottom: 18px;
      width: 160px;
      height: 160px;
      overflow: hidden;
      border-radius: 8px;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;

      .title {
        align-content: center;
        margin: auto;
        width: 60%;
        color: white;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}
