body {
  margin: 0;
}
.player-wrapper {
  width: 100%;
  height: 210px;
  position: relative;
  box-shadow: 0px 0px 5px rgba(54,54,54,0.3);
  display: flex;
  .actions {
    width: 10%;
    text-align: center;
    height: 180px;
    .action-icon {
      display: block;
      margin: 30px auto;
      width: 20px;
      height: 20px;
    }
    .action-icon-return {
      width: 26px;
      margin: 30px auto 10px auto;
      cursor: pointer;
    }
  }
  .img-container {
    width: 30%;
    .player-cover {
      position: absolute;
      top: 0;
      left: 60px;
      border-radius: 6px;
      box-shadow: 0px 0px 40px rgba(54,54,54,0.3);
      width: 220px;
      height: 220px;
    }
  }
  .music-detail {
    width: 60%;
    margin: 40px auto auto 60px;
    .title {
      font-size: 20px;
      font-weight: bold;
    }
    .author {
      font-size: 12px;
      color: rgba(54,54,54,0.3);
      margin: 10px auto;
    }
    // input process class
    .process {
      -webkit-appearance: none;
      margin: 10px auto 20px auto;
      display: flex;
      justify-content: center;
      .process-line {
        width: 70%;
        overflow: hidden;
        width: 280px;
        -webkit-appearance: none;
        background-color: #9a905d;
      }
      .process-line:focus {
        outline: none;
      }
      .process-line::-webkit-slider-runnable-track{
        // background:linear-gradient(to right, #1ab1e2 0%, #1ab1e2 {this.state.activeTime * 100}%,#eee 80%, #eee); 
    }
      .process-line::-webkit-slider-runnable-track {
        width: 100%;
        height: 3px;
        cursor: pointer;
        // animate: 0.2s;
        // background: linear-gradient(to right, #E099EC 0%, #E099EC 80%,#eee 80%, #eee);
        border-radius: 1.3px;
        border: none;
        outline: none;
        // border: 0.2px solid #010101;
      }
      .process-line::-webkit-slider-thumb {
        border: 1px solid #949494;
        visibility: none;
        height: 16px;
        width: 16px;
        margin-top: -5px;
        border-radius: 50%;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;
        position: relative;
      }
      .process-line::-webkit-slider-thumb:after {
        display: block;
        content: '';
        background: #E099EC;
        width: 4px;
        height: 4px;
        position: absolute;
        top: 50%;
        left: 0;
      }
      .process-line:focus::-webkit-slider-runnable-track {
        // background: linear-gradient(to right, #E099EC 0%, #E099EC 80%,#eee 80%, #eee);
      }
      .process-line::-ms-track {
        width: 100%;
        // height: 8.4px;
        cursor: pointer;
        // animate: 0.2s;
        background: transparent;
        border-color: transparent;
        border-width: 16px 0;
        color: transparent;
        display: none;
        // background: linear-gradient(to right, #E099EC 0%, #E099EC 80%,#eee 80%, #eee);
      }
      .process-line::-ms-fill-lower {
        // background: linear-gradient(to right, #E099EC 0%, #E099EC 80%,#eee 80%, #eee);
        background: red;
        border-radius: 2.6px;
        // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      }
      .process-line::-ms-fill-upper {
        // background: linear-gradient(to right, #E099EC 0%, #E099EC 80%,#eee 80%, #eee);
        // border: 0.2px solid #010101;
        border-radius: 2.6px;
        // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      }
      .process-line:focus::-ms-fill-lower {
        // background: linear-gradient(to right, #E099EC 0%, #E099EC 80%,#eee 80%, #eee);
        background: red;
      }
      .player-time {
        color: #9c9c9c;
        font-size: 12px;
        margin-left: 10px;
      }
    }
    
    .playing-btn-container {
      width: 80%;
      margin: 0 auto;
      .playing-wrap {
        display: inline-block;
        vertical-align: middle;
      }
      .playing-wrap img {
        width: 20px;
        height: 20px;
      }
      .playing-wrap-second {
        display: inline-block;
        margin: 0 36px;
      }
      .playing-wrap-second img {
        width: 30px;
        height: 30px;
      }
    }
  }
  .react-player {
    display: none;
  }
}

.playlist-card {
  text-align: center;
  padding: 0 6px;
  height: 400px;
  overflow: scroll;
  .playlist-item {
    height: 60px;
    line-height: 60px;
    padding: 4px 10px;
    display: flex;
    font-size: 14px;
    justify-content: flex-end;
    .cover {
      height: 100%;
      .cover-icon {
        display: block;
        height: 54px;
        width: 54px;
        border-radius: 10px;
      }
    }
    .title-header, .artist-header {
      color: rgba(54,54,54,0.3);
    }
    .title {
      width: 40%;
    }
    .artist {
      width: 50%;
    }
  }
  .active {
    background: #E099EC;
    border-radius: 10px;
    color: #fff;
  }
}
.playlist-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #E099EC;
  padding: 20px 40px;
  border-radius: 40px;
  color: #fff;
}
.album-list {
  position: fixed;
  bottom: 0;
  height: 226px;
  .album-container {
    display: flex;
    width: 580px;
    overflow: scroll;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(54,54,54,0.3);
    padding: 20px;
  }
  .album {
    height: 180px;
    width: 250px;
    margin: auto 20px;
    .album-title {
      width: 250px;
      line-height: 180px;
    }
  }
}
