.Player {
  width: 600px;
  height: 100%;
  background-color: #BB3E34;

  .Title {
    color: white;
    margin-left: 35px;
    margin-top: 30px;
    font-weight: bold;
  }

  .Control {
    background-color: aqua;
  }
}